{% extends 'imageapp/base.html' %}

{% block content %}


<div class="img-title">
  {{ current_image.title }}
</div>

<div>
  <img class="main-image" src="{{ current_image.image_file.url }}" alt="{{ current_image.title }}" >
</div>

<div class="filesize">
  {{ current_image.formatted_filesize }}
</div>

<div class="uploaded_time">
  {{ current_image.formatted_uploaded_time }}
</div>

<div class ="expiry">
  {{ current_image.formatted_expiry_delta }}
</div>

<!-- JS for copy to clipboard -->


<script>
var clipboard = new ClipboardJS('.btn');
clipboard.on('success', function(e) {
    e.trigger.textContent = 'Copied';
});
clipboard.on('error', function(e) {
    console.log(e);
});
</script>

<div>
  <font class="clipboard-titles">Link:</font><br>
  <input id="page-link" type="text" value="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'imageapp:image' current_image.identifier %}">
  <button class="btn" data-clipboard-action="copy" data-clipboard-target="#page-link">Copy</button>
</div>

<div>
  <font class="clipboard-titles">Direct Link:</font><br>
  <input id="direct-link" type="text" value="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ current_image.image_file.url }}">
  <button class="btn" data-clipboard-action="copy" data-clipboard-target="#direct-link">Copy</button>
</div>

<div>
  <font class="clipboard-titles">Reddit Markdown:</font><br>
  <input id="reddit-markdown" type="text" value="[{{ current_image.filename }}]({% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'imageapp:image' current_image.identifier %})">
  <button class="btn" data-clipboard-action="copy" data-clipboard-target="#reddit-markdown">Copy</button>
</div>

{% if attempted_upload_success_password == current_image.upload_success_password %}

<div>
  <font class="clipboard-titles">Delete Image Link:</font><br>
  <input id="deletion-link" type="text" value="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'imageapp:delete_image' current_image.identifier current_image.deletion_password %}">
  <button class="btn" data-clipboard-action="copy" data-clipboard-target="#deletion-link">Copy</button>
</div>

{% else %}

{% endif %}

<div>
  <a href="{% url 'imageapp:report_image' current_image.identifier %}">Report image</a>
</div>

<div>
  <a href="{% url 'imageapp:index' %}">Return home</a>
</div>

{% endblock %}