{% extends "imageapp/base.html" %}

{% block content %}

<div>
Images uploaded by {{ current_user.username }}
</div>

{% for image in images %}

{% if request.user.id == current_user.id %}

<div>
  <a href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'imageapp:image' image.identifier %}">
  <img class="main-image" src="{{ image.image_file.url }}" alt="{{ image.title }}" >
  </a>
</div>

<br>

{% elif image.private is False %}

<div>
  <a href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'imageapp:image' image.identifier %}">
  <img class="main-image" src="{{ image.image_file.url }}" alt="{{ image.title }}" >
  </a>
</div>

<br>

{% endif %}

{% empty %}

<div>
This user has no images
</div>

{% endfor %}

{% endblock content %}